# Vercel is serverless and doesn't support long running background tasks (like Celery or Redis-based queues).
# These backend server-side dependencies are listed seperately in server_requirements.txt
# Below requirements are for Vercel only.
asgiref==3.8.1
Django==5.1.3
sqlparse==0.5.2
tzdata==2024.2
psycopg2-binary==2.9.10
whitenoise==6.8.2
python-decouple==3.8
python-dotenv==1.0.0