*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

@media (max-width: 991px){
   .main-wrapper{
      padding-top: 65px;
   }
   .header {
      padding: 5px 20px !important;
  }
}

body{
   font-family: "DM Sans";
   color: #D7D7D7;
   background: #1d1e23;
}

.main-wrapper{
   position: static;
   width: 100%;
   height: 100%;
   padding-top: 90px;
}
.main-wrapper .container-fluid {
   max-width: 95%;
   margin: 0 auto;
}

.header-wrapper{
   width: 100%;
   display: inline-block;
   padding: 0;
   position: fixed;
   box-shadow: rgb(58 65 95 / 55%) 0 1px 5px;
   background: #100e13c7;
   top: 0;
   left: 0;
   z-index: 1010;
   transition: all .4s ease;
}


.top-bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px 20px;
}
.top-bar-right{
   display: flex;
   align-items: center;
}
.top-bar-right .username-wrapper{
    padding: 0px 10px;
}
.top-bar-right .logout{
    height: 30px;
    border-radius: 8px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #38d39f;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 7px #38d39f70;
}
.top-bar-right .logout a{
    text-decoration: none;
    color: white;
}


.border-bottom {
   border-bottom: 1px solid #dee2e6!important;
}

.nav-bar{
   display: flex;
   align-items: center;
   padding: 0 20px;
   height: 42px;
}

.nav-bar ul{
   list-style: none;
   display: flex;
}
.nav-bar li{
   margin-right: 45px;
}

.nav-bar a{
    position: relative;
    font-size: 14px;
    padding: 10px 0;
    cursor: pointer;
    color: #D7D7D7;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.content-wrapper{
   padding: 40px 20px 0px;
}
.row-filter-wrapper{
   display: flex;
   flex-wrap: wrap;
   margin-right: 15px;
   margin-left: 15px;
   padding: 20px;
   margin-bottom: 25px;
   box-shadow: 0 2px 4px #66739973;
   border-radius: 20px;
   background: #1f1f1f;
}
.live-dashboard-wrapper{
   flex: 0 0 58.333333%;
   max-width: 58.333333%;
   position: relative;
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
}
.live-dashboard{
   padding: 16px 18px;
   box-shadow: rgb(0 0 0 / 10%) 0 0 8px;
   border-radius: 10px;
   background: var(--white);
   display: flex;
   align-items: center;
   padding: 5px 10px;
   max-width: 630px;
   gap: 30px;
}
.row-wrapper {
   display: flex;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
   padding: 10px;
   box-shadow: 0 2px 4px #66739973;
   background: #1f1f1f;
   border-radius: 20px;
}
.row{
   position: relative;
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
}
.table-wrapper{
   background: var(--white);
   box-shadow: rgb(0 0 0 / 10%) 0 0 8px;
   border-radius: 10px;
   margin-bottom: 30px;

}
.table-responsive {
   display: block;
   width: 100%;
   overflow-x: auto;
   overflow-y: hidden;
   -webkit-overflow-scrolling: touch;
}
.dashboard-table {
   border-bottom: 1px solid #dee2e6;
}

.dashboard-table {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
}
.table-rounded {
   border-collapse: separate;
   border-radius: 13px 13px 0 0;
   box-shadow: rgb(0 0 0 / 10%) 0 0 8px;
}
.dashboard-table thead th {
   white-space: nowrap;
}

.dashboard-table thead th {
   border: 0px;
   color: #aae3d5;
   font-weight: 400;
}
.dashboard-table thead th {
   padding: 13px 15px;
}
.table thead th {
   vertical-align: bottom;
   border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
   padding: 0.75rem;
   vertical-align: top;
   border-top: 1px solid #dee2e6;
}
th {
   text-align: inherit;
}

.strategies-wrapper{
   position: relative;
   width: 100%;
   padding-right: 15px;
   font-family: Nunitno, SANS-SERIF;
   padding-left: 15px;
}
.strategies{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-right: -15px;
   margin-left: -15px;
}
.strategies-card{
   width: 100%;
   margin: 40px;
   position: relative;
   padding-right: 15px;
   padding-left: 15px;
}
.cus-card {
   width: 100%;
   background: #2a2b33;
   border: none;
   height: 100%;
   border-radius: 10px;
   margin-bottom: 25px;
   display: block;
   box-shadow: rgb(0 0 0 / 10%) 0 0 8px;
}
.cus-card-body{
   padding: 20px;
}
.cus-card-body .title{
   width: auto;
   display: inline-block;
   font-size: 22px;
   margin-bottom: 3px;
   font-weight: 700!important;
   padding-bottom: 0!important;
}
.cus-card-body .description{
   padding: 0 0 20px 0;
   margin: 0;
   font-size: 15px;
   width: 100%;
   float: left;
   color: darkgray;
   line-height: normal;
   padding-bottom: 1rem!important;
}

.cus-card-body .category{
   margin-bottom: 1rem!important;
}

.s-card{
   background: #EAEEF6;
   border-radius: 200px;
   padding: 5px 13px;
   font-size: 15px;
   display: inline-block;
   margin-right: 5px;
   color: #757990;
   margin-bottom: 7px;
   line-height: normal;
}
.s-category{
    background: #EAEEF6;
    border-radius: 200px;
    padding: 5px 13px;
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 7px;
    line-height: normal;
    color: #2a2b33;
    font-weight: 700;
}
.subscription{
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
}
.strategy-details{
   max-width: 100%;
   width: 100%;
}
.strategy-value{
   padding: 8px;
   border-radius: 5px;
   display: inline-block;
   text-align: center;
   margin-left: 0.5rem!important;
   background: #3f404a;
   width: 30%;
}
.mx-auto{
   margin-right: auto!important;
   margin-left: auto!important;
}
.s-value-title{
   font-size: 14px;
   font-weight: 600;
}
.s-value{
   color: #e25959;
   font-size: 14px;
   font-weight: 700!important;
   padding-bottom: 0!important;
}
h1, h2, h3, h4, h5, h6 {
   line-height: 1.4em;
   letter-spacing: 0.025em;
   margin: 0;
}
.subscribe-btn{
   background: #00C980;
   border: 1px solid #D1FADF;
   border: 1px solid #00C980;
    border-radius: 8px;
    padding: 7px 15px;
    display: flex;
    width: 100%;
    height: 47px;
    max-width: 230px;
    justify-content: center;
    align-items: center;
}

.subscribe-btn h6{
   font-weight: 600;
   text-transform: uppercase;
   color: #ffffff;
   font-size: 14px;
}
.quick-chat{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
   height: 60px;
   position: fixed;
   right: 13px;
   bottom: 40px;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.04) !important;
   backdrop-filter: blur(100px) !important;
   z-index: 155;
}