{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel = "stylesheet" href = "{% static 'css/dashboard.css' %}">
    <link rel = "icon" href = "{% static 'assets/logo_favicon.png' %}">
    <style>
      /* These properties will be overlayed */
    </style>
</head>
<body>
    <div class = 'main-wrapper'>
        <header class = 'header-wrapper'>
            <div class = 'container-fluid'>
                <div class = 'top-bar'>
                    <div class = 'logo'>
                        <h1>AlgoStrike</h1>
                    </div>
                    <div class = 'top-bar-right'>
                        <div class = 'username-wrapper'>
                            <div class = 'username'>
                                Hello, User !
                            </div>
                            <div class = 'link-expand'>

                            </div>
                        </div>
                        <div class = 'logout'>
                            <a href = 'logout'>Log out</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class = 'border-bottom'>
            </div>
            <div class = 'container-fluid'>
                <div class = 'nav-bar'>
                    <nav>
                        <ul>
                            <li>
                                <a href = 'dashboard'>Dashboard</a>
                            </li>
                            <li>
                                <a href = 'strategies'>Strategies</a>
                            </li>
                            <li>
                                <a href = 'subscription'>Subscription</a>
                            </li>
                            <li>
                                <a href = 'reports'>Reports</a>
                            </li>
                            <li>
                                <a href = 'wizard'>Wizard</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    
        <div class = 'content-wrapper'>
            <div class = 'container-fluid'>
                <div class = 'row-filter-wrapper'>
                    <div class = 'live-dashboard-wrapper'>
                        <div class = 'live-dashboard'>
                            <div class = 'price-symbol'>Symbol<br><br>Rs</div>
                            <div class = 'expiry'>Expiry<br><br>Nifty</div>
                            <div class = 'dash-price'>PNL<br><br>0 Rs</div>
                            <div class = 'dash-price'>Capital<br><br>0 Rs</div>
                        </div>
                    </div>
                    <div class = 'dashboard-filter'>

                    </div>
                </div>
                <div class = 'row-wrapper'>
                    <div class = 'row'>
                        <div class = 'table-wrapper'>
                            <div class = 'table-responsive'>
                                <table class = 'table table-rounded dashboard-table' cellspacing = '0' cellpadding = '0'>
                                    <thead>
                                        <tr>
                                            <th width = '5%'>S.No</th>
                                            <th width = '27%'>Strategy Name</th>
                                            <th width = '15%'>"O | T | M</th>
                                            <th width = '15%'>Status</th>
                                            <th width = '18%'>PNL</th>
                                            <th width = '15%'>Action</th>
                                            <th width = '5%'>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class = 'parent-row'>
                                            <td>1</td>
                                            <td>Rolling Straddle/Strangle</td>
                                            <td>0 | 1 | 2x</td>
                                            <td>inactive</td>
                                            <td>+0 (0%)</td>
                                            <td>Demo</td>
                                            <td>under testing</td>
                                        </tr>
                                        <tr class = 'parent-row'>
                                            <td>1</td>
                                            <td>Iron Condor</td>
                                            <td>0 | 2 | 1x</td>
                                            <td>inactive</td>
                                            <td>+0 (0%)</td>
                                            <td>Demo</td>
                                            <td>under testing</td>
                                        </tr>
                                        <tr class = '9-15 EMA Advanced'>
                                            <td>1</td>
                                            <td>Equitity Intraday</td>
                                            <td>0 | 2 | 5x</td>
                                            <td>inactive</td>
                                            <td>+0 (0%)</td>
                                            <td>Demo</td>
                                            <td>under testing</td>
                                        </tr>
                                        <tr class = 'Sensex Option Selling'>
                                            <td>1</td>
                                            <td>Volatility Strangle</td>
                                            <td>0 | 2 | 2x</td>
                                            <td>inactive</td>
                                            <td>+0 (0%)</td>
                                            <td>Demo</td>
                                            <td>under testing</td>
                                        </tr>
                                        <tr class = 'parent-row'>
                                            <td>1</td>
                                            <td>Advance Fibbo + EMA</td>
                                            <td>0 | 3 | 7x</td>
                                            <td>inactive</td>
                                            <td>+0 (0%)</td>
                                            <td>Demo</td>
                                            <td>under testing</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class = 'quick-chat'>
            <img src = "{% static 'logos/WhatsApp_icon_64px.png' %}" width = "45px"  alt = 'whatsapp-logo'></img>
        </div>
        <br>
        <h3>Site under develepment !</h3>
    </div>
</body>
</html>
