{% load static %}
!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
    <link rel = "icon" href = "{% static 'assets/logo_favicon.png' %}">
    <style>
      /* These properties will be overlayed */
    </style>
</head>
<body>
    <div class = 'main-wrapper'>

    </div>

    <header class = 'header-wrapper'>

    </header>

    <div class = 'content-wrapper'>

    </div>

    <div class = 'quick-chat'>
        <p>chat us</p>
    </div>
    <br>
    <a href = 'logout'>Log out</a>
</body>
</html>
