{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Strategies</title>
    <link rel = "stylesheet" href = "{% static 'css/dashboard.css' %}">
    <link rel = "icon" href = "{% static 'assets/logo_favicon.png' %}">
    <style>
      /* These properties will be overlayed */
    </style>
</head>
<body>
    <div class = 'main-wrapper'>
        <header class = 'header-wrapper'>
            <div class = 'container-fluid'>
                <div class = 'top-bar'>
                    <div class = 'logo'>
                        <h1>AlgoStrike</h1>
                    </div>
                    <div class = 'top-bar-right'>
                        <div class = 'username-wrapper'>
                            <div class = 'username'>
                                Hello, {{name}} !
                            </div>
                            <div class = 'link-expand'>

                            </div>
                        </div>
                        <div class = 'logout'>
                            <a href = 'logout'>Log out</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class = 'border-bottom'>
            </div>
            <div class = 'container-fluid'>
                <div class = 'nav-bar'>
                    <nav>
                        <ul>
                            <li>
                                <a href = 'dashboard'>Dashboard</a>
                            </li>
                            <li>
                                <a href = 'strategies'>Strategies</a>
                            </li>
                            <li>
                                <a href = 'subscription'>Subscription</a>
                            </li>
                            <li>
                                <a href = 'reports'>Reports</a>
                            </li>
                            <li>
                                <a href = 'wizard'>Wizard</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    
        <div class = 'content-wrapper'>
            <div class = 'container-fluid'>
                <div class = 'strategies-wrapper'>
                    <div class = 'strategies'>
                        <div class = 'strategies-card'>
                            <div class = 'cus-card'>
                                <div class = 'cus-card-body'>
                                    <h5 class = 'title'>Rolling Straddle/Strangle</h5>
                                    <p class = 'description'>Underlying Index: BANKNIFTY 

| | 
                                        Entry Time: 09:18 AM (09:30 AM on Expiry Day)| | 

Exit
                                         Time: 3:28 PM | | Stop-Loss: -10,000 | | Hedge 

benefit: No | | Lots: 5 | | When to Deploy? This strategy is best suited for sideways or 

sideways-to-volatile markets,
                                          as it transitions from an ATM straddle to a 

strangle based on market movements. This dynamic adjustment helps manage directional 

risks while capitalizing on premium decay. | 
                                          What Is The Strategy? The strategy starts as 

an ATM straddle, aiming to benefit from premium decay</p>
                                    <div class = 'category'>
                                        <span class = 's-category'>EarnTheta</span>
                                        <span class = 's-category'>IntraDay</span>
                                        <span class = 's-category'>OptionSelling</span>
                                    </div>
                                    <div class = 'subscription'>
                                        <div class = 'strategy-details'>
                                            <div class = 'strategy-value'>
                                                <div class = 'mx-auto'>
                                                    <span class = 's-value-

title'>Capital</span>
                                                    <h6 class = 's-value'>70,000 Rs</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <a class = 'subscribe-btn'>
                                            <h6>Subscribe</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = 'strategies-card'>
                            <div class = 'cus-card'>
                                <div class = 'cus-card-body'>
                                    <h5 class = 'title'>Mean Strangle</h5>
                                    <p class = 'description'>Underlying Index: NIFTY | | 

Entry Time: 9:18 AM | | Exit Time: 3:28 PM | | Stop-Loss: -6000 
                                        | | Hedge Benefit: Yes | | Lots: 8 | | When to 

Deploy? You may run this Algo when you expect the market to go 
                                        sideways. The strangle also works best when 

there is a reversal after a gap-up or gap-down opening. | | 
                                        What Is The Strategy? In this strategy, the 

monthly average of the high and low of the index is calculated
                                         to determine the range, giving higher weightage 

to the previous day's high and low. Also, OTM strikes are
                                          bought to hedge the positions.</p>
                                    <div class = 'category'>
                                        <span class = 's-category'>EarnTheta</span>
                                        <span class = 's-category'>IntraDay</span>
                                        <span class = 's-category'>Non 

Directional</span>
                                    </div>
                                    <div class = 'subscription'>
                                        <div class = 'strategy-details'>
                                            <div class = 'strategy-value'>
                                                <div class = 'mx-auto'>
                                                    <span class = 's-value-

title'>Capital</span>
                                                    <h6 class = 's-value'>120,000 

Rs</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <a class = 'subscribe-btn'>
                                            <h6>Subscribe</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = 'strategies-card'>
                            <div class = 'cus-card'>
                                <div class = 'cus-card-body'>
                                    <h5 class = 'title'>Volatility Strangle</h5>
                                    <p class = 'description'>Underlying Index: NIFTY | | 

Entry Time: 9:30 AM | | Exit Time: 3:20 PM | | Hedge Benefit: No | | 
                                        Lots: 1 | | When to Deploy: You may run this 

Algo when you expect the market to be sideways. Please note that
                                         this strategy does not execute trades on expiry 

days. | | Risk Considerations: In a trending market, the 
                                         strategy can go into a loss. | | What Is The 

Strategy? This strategy selects strikes based on calculations
                                          using the India VIX and the entry and exit is 

based on the Average True Range (ATR) indicator.</p>
                                    <div class = 'category'>
                                        <span class = 's-category'>EarnTheta</span>
                                        <span class = 's-category'>Volatility</span>
                                        <span class = 's-category'>OptionSelling</span>
                                    </div>
                                    <div class = 'subscription'>
                                        <div class = 'strategy-details'>
                                            <div class = 'strategy-value'>
                                                <div class = 'mx-auto'>
                                                    <span class = 's-value-

title'>Capital</span>
                                                    <h6 class = 's-value'>180,000 

Rs</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <a class = 'subscribe-btn'>
                                            <h6>Subscribe</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = 'strategies-card'>
                            <div class = 'cus-card'>
                                <div class = 'cus-card-body'>
                                    <h5 class = 'title'>Iron Condor</h5>
                                    <p class = 'description'>Underlying Index: BANKNIFTY 

| | 
                                        Underlying Index: NIFTY | | Entry Time: 9:34 AM 

| | Exit Time: 2:45 PM | | Stop-Loss: -1250 | | Trailing Profit Activation: After 

reaching 750
                                         profit | | Hedge Benefit: Yes | | Lots: 1 | | 

When to Deploy? Deploy this strategy when you anticipate 
                                         limited movement around a particular price 

level (levels where you expect the market to take a pause for a 
                                         while), especially on days where the market 

shows signs of range-bound behavior with minimal volatility. | |
                                          What Is The Strategy? This strategy involves 

selling an ATM straddle while purchasing 6 strikes away OTM 
                                          options as hedges, providing additional 

protection. Each sold leg has a fixed stop-loss, and a trailing 
                                          profit feature activates once profits hit 750, 

locking in gains.</p>
                                    <div class = 'category'>
                                        <span class = 's-category'>EarnTheta</span>
                                        <span class = 's-category'>Non 

Directional</span>
                                        <span class = 's-category'>OptionSelling</span>
                                    </div>
                                    <div class = 'subscription'>
                                        <div class = 'strategy-details'>
                                            <div class = 'strategy-value'>
                                                <div class = 'mx-auto'>
                                                    <span class = 's-value-

title'>Capital</span>
                                                    <h6 class = 's-value'>60,000 Rs</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <a class = 'subscribe-btn'>
                                            <h6>Subscribe</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{message}}
            </div>
        </div>
    
        <div class = 'quick-chat'>
            <img src = "{% static 'logos/WhatsApp_icon_64px.png' %}" width = "45px"  alt 

= 'whatsapp-logo'></img>
        </div>
        <br>
        <h3>Site under develepment !</h3>
    </div>
</body>
</html>
